<configuration>
    <appSettings>
        <add key="serilog:minimum-level" value="Verbose" />
        <add key="serilog:using:MessageCanguru" value="MessageCanguru" />
        <add key="serilog:write-to:UdpLogstash" />
        <!-- <add key="serilog:enrich:with-property:Release" value="1.2-develop" /> -->
    </appSettings>
</configuration>