@using System.Web.Mvc.Html
@using Sitecore.Mvc

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogTest</title>
</head>
<body>
    <div>
        @Html.Sitecore().Placeholder("body")
    </div>
</body>
</html>
